/* body{
} */

.bg {
  /* The image used */
  background-image: url("img/background.jpg");
  position:absolute;
  /* Full height */
  height: 100vh;
  width:100vw;
  z-index:-1;
  height: 100%;
  box-sizing: border-box; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
    list-style-type: none;
    padding: 0;
  }

.nav-link {
  font-size: large;
}

#vierkant{
  background-color: white;
  border: 5px solid black;
  padding: 5px;
  max-width: 800px;
  margin: 5% auto 5% auto;
  text-align-last: center;
  
}
.mijnclass{
  text-align: center;
  /* width: 130%; */
}

/* #box1{
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black; 
  width: 90px;
  
} */